body {
  box-sizing: border-box; }
  body > * {
    max-width: 90vw;
    margin: 0 auto; }
  @media only screen and (min-device-width: 768px) {
    body > * {
      max-width: 65vw; } }

h1, h2, h3, a {
  font-family: 'Roboto', sans-serif;
  font-weight: normal; }

h1 {
  font-size: 11vw; }

h2 {
  font-size: 8.5vw; }

h3 {
  font-size: 6.75vw; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.75vmin; }

a {
  color: #D24D57;
  text-decoration: none; }

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left; }
  nav .nav-link {
    font-size: 5.75vw; }
  nav .nav-social-links .nav-link {
    font-size: 9.75vw; }
    nav .nav-social-links .nav-link:nth-child(2) {
      margin-left: 24px; }

@media only screen and (min-device-width: 768px) {
  h1 {
    font-size: 5.25vw; }
  h2 {
    font-size: 3.0vw; }
  h3 {
    font-size: 2.25vw; }
  p {
    font-size: 2.75vmin; }
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center; }
    nav .nav-link {
      font-size: 2.25vw; }
      nav .nav-link:nth-child(2) {
        margin-left: 24px; }
    nav .nav-social-links {
      margin-left: 24px; }
      nav .nav-social-links .nav-link {
        font-size: 3.75vw; } }
