$callout: #D24D57;
$heading: 'Roboto Slab', serif;
$content: 'Open Sans', sans-serif;

body {
  box-sizing: border-box;

  &>* {
    max-width: 90vw;
    margin: 0 auto;
  }

  @media only screen and (min-device-width: 768px) {
    &>* {
      max-width: 45vw;
    }
  }
}

// primary styles, targeting iPhone first
h1,h2,h3,h4 {
  margin: 8px;
  font-family: $heading;
  font-weight: 300;
  color: #333;
}

h1 {
  font-size: 11vw;
}

h2 {
  font-size: 9vw;
}

h3 {
  font-family: $heading;
  font-size: 7.5vw;
  color: $callout;
}

h4 {
  font-family: $content;
  font-size: 5vw;
}

p {
  font-family: $content;
  font-size: 3vmin;
  font-weight: 300;
  color: #333;

  &.splash-text {
    font-family: $content;
    font-size: 3.25vmin;
    font-weight: 400;
  }
}

a {
  font-family: $heading;
  font-weight: 300;
  color: gray;
  text-decoration: none;

  &:hover {
    color: $callout;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;

  .nav-link {
    font-size: 5.75vw;
  }

  .nav-social-links {
    .nav-link {
      font-size: 9.75vw;
      &:nth-child(2) { margin-left: 24px; }
    }
  }
}

li.list-item {
  font-size: 3.25vw;
  font-family: $content;
}

// styles for tablet and desktop
@media only screen and (min-device-width: 768px) {
  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 2.5vw;
  }

  h3 {
    font-size: 1.75vw;
    color: $callout;
  }

  h4 {
    font-size: 1.25vw;
  }

  p {
    font-size: 1vw;

    &.splash-text {
      font-size: 1.25vw;
    }
  }

  li.list-item {
    font-size: 1.25vw;
    font-weight: 300;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    & .nav-link {
      font-size: 1.25vw;

      &:nth-child(2) { margin-left: 24px };
    }

    & .nav-social-links {
      margin-left: 24px;
      & .nav-link {
        font-size: 1.75vw;
      }
    }
  }
}
