body {
  box-sizing: border-box;

  &>* {
    max-width: 90vw;
    margin: 0 auto;
  }

  @media only screen and (min-device-width: 768px) {
    &>* {
      max-width: 65vw;
    }
  }
}

// primary styles, targeting iPhone first
h1,h2,h3,a {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 11vw;
}

h2 {
  font-size: 8.5vw;
}
h3 {
  font-size: 6.75vw;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.75vmin;
}

a {
  color: #D24D57;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;

  .nav-link {
    font-size: 5.75vw;
  }

  .nav-social-links {
    .nav-link {
      font-size: 9.75vw;
      &:nth-child(2) { margin-left: 24px; }
    }
  }
}

// styles for tablet and desktop
@media only screen and (min-device-width: 768px) {
  h1 {
    font-size: 5.25vw;
  }

  h2 {
    font-size: 3.0vw;
  }

  h3 {
    font-size: 2.25vw;
  }

  p {
    font-size: 2.75vmin;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    & .nav-link {
      font-size: 2.25vw;

      &:nth-child(2) { margin-left: 24px };
    }

    & .nav-social-links {
      margin-left: 24px;
      & .nav-link {
        font-size: 3.75vw;
      }
    }
  }
}
