@import "normalize";

$callout: #D24D57;
$heading: 'Roboto Slab', serif;
$content: 'Open Sans', sans-serif;

body {
  box-sizing: border-box;
  background-color: #FDFDF0;

  &>* {
    max-width: 45vw;
    margin: 0 auto;
  }
}

h1,h2,h3,h4 {
  margin: 8px;
  font-family: $heading;
  font-weight: 300;
  color: #333;
}

h3 {
  color: $callout;
}

a {
  font-family: $heading;
  font-weight: 300;
  color: gray;
  text-decoration: none;

  &:hover {
    color: $callout;
  }
}

p {
  font-family: $content;
  color: #333;

  &.splash-text {
    font-weight: 300;
  }
}

li.list-item {
  font-family: $content;
  color: #333;
  font-weight: 300;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  & .nav-link {
    &:nth-child(2) { margin-left: 24px };
  }

  & .nav-social-links {
    margin-left: 24px;
  }
}


@media device, screen and (max-device-width: 768px) {
  body {
    &>* {
      max-width: 90vw;
    }
  }
  h1 {
    font-size: 11vw;
  }

  h2 {
    font-size: 8.25vw;
  }

  h3 {
    font-size: 6.5vw;
    color: $callout;
  }

  h4 {
    font-family: $content;
    font-size: 3.85vw;
  }

  p {
    font-size: 3vmin;
    color: #333;

    &.splash-text {
      font-size: 3.25vmin;
      font-weight: 400;
    }
  }


  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

    .nav-link {
      font-size: 5.75vw;
      &:nth-child(2) { margin-left: 0;}
    }

    .nav-social-links {
      margin-left: 0;
      .nav-link {
        font-size: 9.75vw;
        &:nth-child(2) { margin-left: 24px; }
      }
    }
  }

  li.list-item {
    font-size: 3.25vw;
    font-family: $content;
  }
}

